In [1]:
import numpy as np
import pandas as pd
import jax

In [10]:
t = pd.read_csv(
    'df.csv.gzip',
    header=None,
    compression='gzip'
)

,0,1,2,3,4,5,6,7,8,9,...,20115,20116,20117,20118,20119,20120,20121,20122,20123,20124
0,0,4,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2,0,0,1
1,0,0,0,0,0,0,0,0,2,0,...,0,0,0,0,0,1,4,0,1,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,1,0,0,...,1,0,0,0,0,1,3,1,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1932,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1933,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1934,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,1,0,0,0,0
1935,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1936,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
t

,0,1,2,3,4,5,6,7,8,9,...,20115,20116,20117,20118,20119,20120,20121,20122,20123,20124
0,0,4,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2,0,0,1
1,0,0,0,0,0,0,0,0,2,0,...,0,0,0,0,0,1,4,0,1,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,1,0,0,...,1,0,0,0,0,1,3,1,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1932,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1933,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1934,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,1,0,0,0,0
1935,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1936,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0